.card-container{
    margin-bottom: 15px;
    .card-title{
        font-weight: 600;
    }
    .card-body{
        .card-btn-container{
            display:flex;
            justify-content: space-between;
            margin-top: 15px;
        }
    }
    .card-text-container{
        height: 100px;
        .card-text{
            display: -webkit-box;
            overflow: hidden;
            text-overflow: ellipsis;
           /* autoprefixer: off */
            -webkit-box-orient: vertical;
            /* autoprefixer: on */
            -webkit-line-clamp: 4;
        }
       
    }
    .card-footer{
        text-align: center;
        hr{
            margin: 5px 0px;
        }
        .card-footer-body{
            table{
                width: 100%;
                th{
                    font-size: 14px;
                    padding: 10px 0px;
                }
            }
        }
    }
}