
/* ============= HEADER ============= */

header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;

    .logo{
      padding: 10px 30px;
    }
  }

  